<!--Register page-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block headercontent %}
    <div class='top'>
        <!-- internal links -->
        <a href="{% url 'register_user' %}">Sign up</a>
        <a href="{% url 'login_user' %}">Log in</a>
    </div>
{% endblock headercontent %}

{% block content %}
    <div class='center'>
        <h1 id='formheading'>
            Log in
        </h1>
        <div class='register_page'>
            <div class='the_form'>
                <form method='post'>
                    {% csrf_token %}
                    {{ login_form|crispy }}

                    <button data-bn-type='button' type="submit" class='log_in'>Log in</button>

                    <div class='option'>
                        Don't have an account yet?<a href="{% url 'register_user' %}">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}