{% extends 'base.html' %}
{% block headercontent %}
    <div class='nav-left'>
        <h1>
        <a href='{% url "home" %}'>Django blog</a>
        </h1>
    </div>
    <div class='nav-right'>
        <a href='{% url "post_new" %}'>New Blog Post</a>
    </div>
{% endblock headercontent %}

{% block content %}
    <h1>Delete post</h1>
    <form action='' method='post'>
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ post.title }}"</p>
        <input type='submit' value='Confrim'>
    </form>
{% endblock %}